<div class="grupo-1">
    <div class="imgContainer">
        <img alt="Card" class="img3" src="assets/img/top.png">
    </div>
    
    <div>
        <span class="text">
            <p class="textTopDecoration2">Bases De Datos</p> 
            <p class="textTopDecoration3">Para Novatos</p> 
        </span>
    </div>
</div>

<div class="boxTop3">
    <div class="grupo-2">
        <div class="card">
            <div class="imgbox2"><img alt="Card" class="img2" src="assets/img/proyecto.png"></div>
            <p class="font3">Basico</p>
        </div>
        <div class="card">
            <div class="imgbox2"><img alt="Card" class="img2" src="assets/img/software (1).png"></div>
            <p class="font3">Intermedio</p>
        </div>
        <div class="card">
            <div class="imgbox2"><img alt="Card" class="img2" src="assets/img/software.png"></div>
            <p class="font3">Avanzado</p>
        </div>
    </div>
</div>

<hr>

<div class="boxTop">
    <div class="grupo-3">
        <p-card header="CREAR Y ELIMINAR BASES DE DATOS" class="cardtitle" [style]="{ width: '340px' }" >
                <ng-template pTemplate="header">
                    <img alt="Card" class="img5" src="assets/img/1.png">
                </ng-template>
                <p> • Create 
                    • Show 
                    • Drop </p>
                    <ng-template pTemplate="footer">
                        <p-button  pRipple label="Ver" color="#BC66F7" styleClass="p-button-raised " icon="pi pi-check" iconPos="right"></p-button>
                    </ng-template>
        </p-card>
        <p-card header="CREAR Y ELIMINAR TABLAS" class="cardtitle" [style]="{ width: '340px'  }">
                <ng-template pTemplate="header">
                    <img alt="Card" class="img5" src="assets/img/2.png">
                </ng-template>
                <p> • Create Table
                    • Drop Table  
                </p>
                <ng-template pTemplate="footer">
                    <p-button  pRipple label="Ver" color="#BC66F7" styleClass="p-button-raised " icon="pi pi-check" iconPos="right"></p-button>
                </ng-template>    
        </p-card>
        <p-card header="CREAR Y OBTENER REGISTROS" class="cardtitle" [style]="{ width: '340px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" class="img5" src="assets/img/3.png">
                </ng-template>
                <p> • Insert 
                    • Select
                    • Where
                    • Delete
                </p>
                <ng-template pTemplate="footer">
                    <p-button  pRipple label="Ver" color="#BC66F7" styleClass="p-button-raised " icon="pi pi-check" iconPos="right"></p-button>
                </ng-template>
        </p-card>
        <p-card header="PRIMARY KEY Y FOREIGN KEY" class="cardtitle" [style]="{ width: '340px' }" >
                <ng-template pTemplate="header">
                    <img alt="Card" class="img5" src="assets/img/4.png">
                </ng-template>
                <p> • Primary Key
                    • Foreign Key
                </p>
                <ng-template pTemplate="footer">
                    <p-button  pRipple label="Ver" color="#BC66F7" styleClass="p-button-raised " icon="pi pi-check" iconPos="right"></p-button>
                </ng-template>
        </p-card>
        <p-card header="MANEJO DE TIPOS DE DATOS" class="cardtitle" [style]="{ width: '340px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" class="img5" src="assets/img/5.png">
                </ng-template>
                <p> • Enteros
                    • Decimal
                    • Cadenas
                    • Date
                </p>
                <ng-template pTemplate="footer">
                    <p-button  pRipple label="Ver" color="#BC66F7" styleClass="p-button-raised " icon="pi pi-check" iconPos="right"></p-button>
                </ng-template>
        </p-card>
        <p-card header="FUNCIONES EN LAS TABLAS" class="cardtitle" [style]="{ width: '340px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" class="img5" src="assets/img/6.png">
                </ng-template>
                <p> 
                    • Orden
                    • Operaciones 
                    • Agrupamiento 
                </p>
                <ng-template pTemplate="footer">
                    <p-button  pRipple label="Ver" color="#BC66F7" styleClass="p-button-raised " icon="pi pi-check" iconPos="right"></p-button>
                </ng-template>
        </p-card>
        <p-card header="ALTERACIONES DE LAS TABLAS" class="cardtitle" [style]="{ width: '340px' }"  >
            <ng-template pTemplate="header">
                <img alt="Card" class="img5" src="assets/img/7.png">
            </ng-template>
            <p>• Table Drop
                • Table Add
                • Table Rename
            </p>
            <ng-template pTemplate="footer">
                <p-button  pRipple label="Ver" color="#BC66F7" styleClass="p-button-raised " icon="pi pi-check" iconPos="right"></p-button>
            </ng-template>
        </p-card>
        <p-card header="TIPOS DE JOINS Y SUS USOS" class="cardtitle" [style]="{ width: '340px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" class="img5" src="assets/img/8.png">
                </ng-template>
                <p> • Left Join
                    • Right Join
                    • Inner Join 
            
                </p>
                <ng-template pTemplate="footer">
                    <p-button  pRipple label="Ver" color="#BC66F7" styleClass="p-button-raised " icon="pi pi-check" iconPos="right"></p-button>
                </ng-template>
        </p-card>
        <p-card header="CREACION DE SUBCONSULTAS" class="cardtitle" [style]="{ width: '340px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" class="img5" src="assets/img/9.png">
                </ng-template>
                <p>• Update-Delete
                    • Exists’ Not Exists
                    
                </p>
                <ng-template pTemplate="footer">
                    <p-button  pRipple label="Ver" color="#BC66F7" styleClass="p-button-raised " icon="pi pi-check" iconPos="right"></p-button>
                </ng-template>
        </p-card>
        <p-card header="HERRAMIENTA PRACTICA LOCAL" class="cardtitle" [style]="{ width: '340px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" class="img5" src="assets/img/10.png">
                </ng-template>
                <p>• Ingresa para probar tus habilidades
                </p>
                <ng-template pTemplate="footer">
                    <p-button  pRipple label="Ver" color="#BC66F7" styleClass="p-button-raised " icon="pi pi-check" iconPos="right"></p-button>
                </ng-template>
        </p-card>
    </div>
</div>

<hr>
