<div class="boxTop4">
    <p class="title">Uso Del Create y Drop en Tablas </p>
</div>

<div class="boxTop2">
    <div class="grupo-5">
        <div class="grupo-6">
            <div class="botones">
                <p-button pRipple label="Show Bd" color="#BC66F7" styleClass="p-button-raised " icon="pi boton icon"
                    iconPos="right">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/crear.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Create</p>
            </div>
            <div class="botones2">
                <p-button pRipple label="Show Bd" color="#BC66F7" styleClass="p-button-raised " icon="pi boton icon"
                    iconPos="right">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/borrar.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Drop</p>
            </div>
        </div>
        <div class="grupo-4">
            <div class="texto">
                <p class="span1">
                    Crear una tabla:
                    
                    La sentencia CREATE TABLE se utiliza para crear una nueva tabla en la base de datos.
                    Especificas el nombre de la tabla y las columnas que contendrá, junto con sus tipos de datos.
                    Puedes definir restricciones como claves primarias, claves foráneas, valores predeterminados,
                    restricciones de integridad, etc.
                    <br/>
                    Eliminar una tabla:
                    La sentencia DROP TABLE se utiliza para eliminar una tabla existente de la base de datos.
                    Proporcionas el nombre de la tabla que deseas eliminar.
                    Al eliminar una tabla, se eliminan todos los datos y la estructura asociada a ella.
                    Esta operación es irreversible, por lo que se recomienda tener precaución al eliminar tablas.
                </p>
            </div>
            <div class="boxdrag row">
                <div class="boxDrop">
                    <h2 class="card-title">Palabras Clave</h2>
                    <div class="boxContent" cdkDropList #ln1="cdkDropList" [cdkDropListData]="listNumbers1"
                        [cdkDropListConnectedTo]="[ln2]" (cdkDropListDropped)="drop($event)">
                        <div cdkDrag class="block block-1" *ngFor="let n of listNumbers1">
                            <span>{{n}}</span>
                        </div>
                    </div>
                </div>
                <div class="boxDrop">
                    <h2 class="card-title">Ordene Aqui</h2>
                    <div class="boxContent" cdkDropList #ln2="cdkDropList" [cdkDropListData]="listNumbers2"
                        [cdkDropListConnectedTo]="[ln1]" (cdkDropListDropped)="drop($event)">
                        <div cdkDrag class="block block-2" *ngFor="let n of listNumbers2">
                            <span>{{n}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="pie-pagina">
    <div class="box">
        <div>
            <small>&copy; 2023 <b>Bases De Datos Para Novatos</b>- Todos los Derechos
                Reservados.</small>
        </div>
    </div>
</footer>