<div class="boxTop4">
    <p class="title">Uso Del Create, Drop y Show en bases de datos</p>
</div>

<div class="boxTop2">
    <div class="grupo-5">
        <div class="grupo-6">
            <div class="botones">
                <p-button pRipple label="Show Bd" color="#BC66F7" styleClass="p-button-raised " icon="pi boton icon"
                    iconPos="right">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/crear.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Create</p>
            </div>
            <div class="botones">
                <p-button pRipple label="Show Bd" color="#BC66F7" styleClass="p-button-raised " icon="pi boton icon"
                    iconPos="right">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/borrar.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Drop</p>
            </div>
            <div class="botones">
                <p-button pRipple label="Show Bd" color="#BC66F7" styleClass="p-button-raised " icon="pi boton icon"
                    iconPos="right">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/show.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Show</p>
            </div>
        </div>
        <div class="grupo-4">
            <div class="texto">
                <p class="span1">
                    Crear, eliminar y mostrar son operaciones fundamentales en el contexto
                    de las bases de datos. <br />
                    Crear: Operación que consiste en generar una nueva entidad o
                    estructura en la base de datos, estableciendo su estructura y
                    restricciones.
                    <br />
                    Eliminar: Operación para eliminar registros o documentos existentes en
                    la base de datos que ya no son necesarios.
                    <br />
                    Mostrar: Operación para recuperar y visualizar datos almacenados en la
                    base de datos, obteniendo información específica según criterios de
                    búsqueda.
                </p>
            </div>
            <div class="boxdrag row">
                <div class="boxDrop">
                    <h2 class="card-title">Palabras Clave</h2>
                    <div class="boxContent" cdkDropList #ln1="cdkDropList" [cdkDropListData]="listNumbers1"
                        [cdkDropListConnectedTo]="[ln2]" (cdkDropListDropped)="drop($event)">
                        <div cdkDrag class="block block-1" *ngFor="let n of listNumbers1">
                            <span>{{n}}</span>
                        </div>
                    </div>
                </div>
                <div class="boxDrop">
                    <h2 class="card-title">Ordene Aqui</h2>
                    <div class="boxContent" cdkDropList #ln2="cdkDropList" [cdkDropListData]="listNumbers2"
                        [cdkDropListConnectedTo]="[ln1]" (cdkDropListDropped)="drop($event)">
                        <div cdkDrag class="block block-2" *ngFor="let n of listNumbers2">
                            <span>{{n}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="pie-pagina">
    <div class="box">
        <div>
            <small>&copy; 2023 <b>Bases De Datos Para Novatos</b>- Todos los Derechos
                Reservados.</small>
        </div>
    </div>
</footer>