<div class="boxTopTitle">
    <p class="title">Registros y sus aplicaciones</p>
</div>

<div class="boxTop2">
    <div class="contenedor-4">
        <div class="contenedor-5">
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="insertConsulta()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/crear.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Insert</p>
            </div>
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="selectConsulta()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/borrar.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Select</p>
            </div>
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="whereConsulta()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/show.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Where</p>
            </div>
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="deleteConsulta()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/borrar.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Delete</p>
            </div>
        </div>
        <div class="contenedor-6">

            <div class="boxdrag row">
                <div class="boxdrag row">
                    <div class="boxDrop">
                        <h2 class="card-title">Palabras Clave</h2>
                        <div class="boxContent" cdkDropList #ln1="cdkDropList" [cdkDropListData]="numbers1"
                            [cdkDropListConnectedTo]="[ln2]" (cdkDropListDropped)="dropItem($event)">
                            <div cdkDrag class="block block-1" *ngFor="let n of numbers1">
                                <span>{{n}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="boxDrop">
                        <h2 class="card-title">Ordene Aqui</h2>
                        <div class="boxContent" cdkDropList #ln2="cdkDropList" [cdkDropListData]="numbers2"
                            [cdkDropListConnectedTo]="[ln1]" (cdkDropListDropped)="dropItem($event)">
                            <div cdkDrag class="block block-2" *ngFor="let n of numbers2">
                                <span>{{n}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
                <div>
                    <p>{{ data.titulo }}</p>
                    <p>{{ data.introduccion }}</p>
                    <p>{{ data.explicacion }}</p>
                    <img alt="boton icon" class="img4" [src]="data.imagen" />
                </div>
                <p class="span1">
                    Insert Into: Es una sentencia SQL utilizada para insertar nuevos registros en una tabla. Permite
                    especificar los valores a insertar para cada columna de la tabla.
                </p>
                <p class="span1">
                    Select: Es una sentencia SQL utilizada para obtener registros de una tabla o conjunto de tablas.
                    Permite especificar las columnas que se desean recuperar, las condiciones de filtrado y el orden de
                    los resultados.
                </p>
                <p class="span1">
                    Where: Es una cláusula utilizada en la sentencia SQL Select (y otras) para filtrar los registros que
                    cumplen una determinada condición. Permite establecer condiciones lógicas y comparativas para
                    restringir los resultados.
                </p>
                <p class="span1">
                    Delete: Es una sentencia SQL utilizada para eliminar registros de una tabla. Permite especificar las
                    condiciones que deben cumplir los registros a eliminar.
                </p>

                <p class="span1 m-0">
                    Update: Es una sentencia SQL utilizada para actualizar los valores de uno o más registros en una
                    tabla. Permite modificar los valores de las columnas existentes en función de ciertas condiciones.
                </p>
            </p-scrollPanel>
        </div>
    </div>
</div>

<footer class="pie-pagina">
    <div class="box">
        <div>
            <small>&copy; 2023 <b>Bases De Datos Para Novatos</b>- Todos los Derechos
                Reservados.</small>
        </div>
    </div>
</footer>