<div class="boxTopTitle">
    <p class="title">Tipos de Datos</p>
</div>

<div class="boxTop2">
    <div class="contenedor-4">
        <div class="contenedor-5">
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="enteroDato()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/crear.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Enteros</p>
            </div>
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="decimalDato()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/borrar.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Decimal</p>
            </div>
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="cadenasDato()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/show.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Cadenas</p>
            </div>
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="fechaDato()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/borrar.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Fecha</p>
            </div>
        </div>
        <div class="contenedor-6">
            <div class="boxdrag row">
                <div class="boxDrop">
                    <h2 class="card-title">Palabras Clave</h2>
                    <div class="boxContent" cdkDropList #ln1="cdkDropList" [cdkDropListData]="drags"
                        [cdkDropListConnectedTo]="[ln2]" (cdkDropListDropped)="dropItem($event)">
                        <div cdkDrag class="block block-1" *ngFor="let n of drags">
                            <span>{{n}}</span>
                        </div>
                    </div>
                </div>
                <div class="boxDrop">
                    <h2 class="card-title">Ordene Aqui</h2>
                    <div class="boxContent" cdkDropList #ln2="cdkDropList" [cdkDropListData]="drops"
                        [cdkDropListConnectedTo]="[ln1]" (cdkDropListDropped)="dropItem($event)">
                        <div cdkDrag class="block2 block-2" *ngFor="let n of drops">
                            <span>{{n}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor-7">
                <p class="Rbox">la respuesta es : {{resComparar}}</p>
                <p-button pRipple label="Comparar Arreglos" color="#BC66F7" styleClass="p-button-raised "
                    (click)="compareArrays()">
                </p-button>
            </div>
            <div class="span1">
                <p>{{ data.titulo }}</p>
            </div>
            <div class="contenedor-8">
                <div class="grid-item">
                    <p>{{ data.explicacion }}</p>
                </div>
                <div class="grid-item2">
                    <img alt="boton icon" class="img4" [src]="data.imagen" />
                </div>
                <p class="Qbox">caja de preguntas</p>
            </div>
        </div>
    </div>
</div>

<footer class="pie-pagina">
    <div class="box">
        <div>
            <small>&copy; 2023 <b>Bases De Datos Para Novatos</b>- Todos los Derechos
                Reservados.</small>
        </div>
    </div>
</footer>