<div class="boxTopTitle">
    <p class="title">Tipos de Datos</p>
</div>

<div class="boxTop2">
    <div class="grupo-5">
        <div class="grupo-6">
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="enteroDato()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/crear.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Enteros</p>
            </div>
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="decimalDato()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/borrar.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Decimal</p>
            </div>
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="cadenasDato()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/show.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Cadenas</p>
            </div>
            <div class="botones">
                <p-button 
                    pRipple label="Show Bd" 
                    color="#BC66F7" 
                    styleClass="p-button-raised " 
                    icon="pi boton icon"
                    iconPos="right"
                    (click)="fechaDato()">
                    <ng-template pTemplate="botonicon">
                        <img alt="boton icon" class="img4" src="assets/img/borrar.png" />
                    </ng-template>
                </p-button>
                <p class="textI">Fecha</p>
            </div>
        </div>
        <div class="grupo-4">
            <div class="boxdrag row">
                <div class="boxDrop">
                    <h2 class="card-title">Palabras Clave</h2>
                    <div class="boxContent" cdkDropList #ln1="cdkDropList" [cdkDropListData]="numbers1"
                        [cdkDropListConnectedTo]="[ln2]" (cdkDropListDropped)="dropItem($event)">
                        <div cdkDrag class="block block-1" *ngFor="let n of numbers1">
                            <span>{{n}}</span>
                        </div>
                    </div>
                </div>
                <div class="boxDrop">
                    <h2 class="card-title">Ordene Aqui</h2>
                    <div class="boxContent" cdkDropList #ln2="cdkDropList" [cdkDropListData]="numbers2"
                        [cdkDropListConnectedTo]="[ln1]" (cdkDropListDropped)="dropItem($event)">
                        <div cdkDrag class="block block-2" *ngFor="let n of numbers2">
                            <span>{{n}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <p-scrollPanel [style]="{ width: '100%', height: '350px' }">
                <div>
                    <p>{{ data.titulo }}</p>
                    <p>{{ data.introduccion }}</p>
                    <p>{{ data.explicacion }}</p>
                    <img alt="boton icon" class="img4" [src]="data.imagen" />
                </div>
                <p class="span1">
                    En SQL, los tipos de datos son utilizados para definir el tipo de valor que puede almacenarse en una
                    columna de una tabla. Los tipos de datos en SQL varían dependiendo del sistema de gestión de bases
                    de datos (SGBD) utilizado, pero a continuación se presentan los tipos de datos más comunes:</p>
                <p class="span1">
                    Enteros (Integer): Representan números enteros sin decimales. Pueden ser de diferentes tamaños y se
                    pueden especificar como INT, SMALLINT, BIGINT, entre otros.</p>
                <p class="span1">
                    Decimales o números de punto flotante (Decimal/Float): Representan números con decimales. Pueden ser
                    de precisión fija (DECIMAL, NUMERIC) o de precisión variable (FLOAT, REAL).</p>
                <p class="span1">
                    Cadenas de caracteres (Character Strings): Representan datos de texto. Pueden ser de longitud fija
                    (CHAR) o de longitud variable (VARCHAR, TEXT).</p>
                <p class="span1">
                    Fechas y horas (Date/Time): Representan valores de fecha y hora. Pueden ser DATE (solo fecha), TIME
                    (solo hora), DATETIME (fecha y hora), TIMESTAMP, entre otros.
                </p>
                <p class="span1 m-0">
                    Es importante tener en cuenta que los tipos de datos pueden tener diferentes precisiones, longitudes
                    y restricciones dependiendo del SGBD y la implementación específica. Además, algunos SGBD también
                    ofrecen extensiones o tipos de datos personalizados para adaptarse a necesidades específicas.
                </p>
            </p-scrollPanel>
        </div>
    </div>
</div>

<footer class="pie-pagina">
    <div class="box">
        <div>
            <small>&copy; 2023 <b>Bases De Datos Para Novatos</b>- Todos los Derechos
                Reservados.</small>
        </div>
    </div>
</footer>